<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
      <form action="/emp" method="post">
        Emp name:<br>
        <input type="text" name="empname" value="arif"><br>
        Salary:<br>
        <input type="text" name="salary" value="100">
        <br><br>
        <input type="submit" value="Submit">
      </form> 
      </div>
      
  </body>
</html>
